doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheet/style.css')
    <!-- Compiled and minified CSS -->
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body
    block content
  script(src='/js/appControl.js')
    <!-- Compiled and minified JavaScript -->
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
